
.env
.env.local
.venv
data/input/datasets/
data/input/derived_corpora/
data/input/models/
data/output/
data/cache/
scripts/
plan/

.DS_Store

# all pycache files, including those in subdirectories
__pycache__/
*/__pycache__/
